.table {
    thead {
        tr {
            border-bottom: 1px solid $gray-900;
            a {
                color: $primary;
            }
        }
    }

    tbody {
        tr {
            cursor: pointer;
            border-bottom: 1px solid $gray-400;

            &:hover {
                background-color: $gray-100;
            }
        }
    }
}