.accordion-item {
    .accordion-button {
        background-color: #fff;
        box-shadow: none;
        font-size: 14px;
        color: $gray-900;
        &:focus {
            border-color: #FFF;
            box-shadow: none;
        }
    }
    .accordion-body {
        button {
            padding: 8px 32px;
            &:actuve {
                border: #fff;
            }
        }
    }
}